{% extends "base/normal.html" %}

{% block content %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='text-lg-center'>
                <h1>Entrar</h1>
                <hr>
            </div>
        </div>
        <div class='col-lg-3 offset-lg-4'>
            {% if form.errors %}
                <div class="alert alert-error alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><strong>Usuário e senha inválidos.</strong> Tente novamente.</p>
                </div>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                    </div>
                {% else %}
                    <div class="alert alert-warning alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>É necessário realizar login para acessar essa página.</p>
                    </div>
                {% endif %}
            {% endif %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class='form-group row'>
                    <div class='col-lg-3'>
                        {{ form.username.label_tag }}
                    </div>
                    <div class='col-lg-9'>
                        {{ form.username }}
                    </div>   
                </div>
                <div class='form-group row'>
                    <div class='col-lg-3'>
                        {{ form.password.label_tag }}
                    </div>
                    <div class='col-lg-9'>
                        {{ form.password }}
                    </div>
                </div>
                <div class='form-group row'>
                    <div class='col-lg-3 offset-lg-3'>
                        <input type="submit" class='btn btn-success' value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                        
                    </div>
                    <div class='col-lg-6'>
                        <a href="{% url 'password_reset' %}">Lost password?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}