{% extends "base.html" %}
{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-2'>
            <ul class="nav nav-tabs nav-stacked">
                <li role="presentation" class="active"><a href="/roupas">Roupas</a></li>
                <li role="presentation"><a href="/calcados">Calçados</a></li>
                <li role="presentation"><a href="/aderecos">Adereços</a></li>
            </ul>
        </div>
        <div class='col-lg-10'>
            <div class='row'>
                <div class='col-lg-12'>
                    <h1>Roupas</h1>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-12'>
                {% load static %}
                {% if roupas %}
                {% for roupa in roupas %}
                    {% if forloop.counter|divisibleby:6 %}
                    <div class='row'>
                    {% endif %}
                        <div class='col-lg-2'>
                            {{ roupa.descricao }}
                            <img src="{% static 'images'|add:roupa.foto.url %}" alt="My image"/ width="100px">
                        </div>
                    {% if forloop.counter|divisibleby:6 %}
                    </div>   
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <strong>Não há nenhum tipo de roupa cadastrado</strong>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}